annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
awsebcli==3.23.3
blessed==1.21.0
botocore==1.38.11
cachetools==5.5.1
cement==2.10.14
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.0
dacktool==0.0.7
dbstream==0.1.28
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.6
django-allauth==65.4.1
django-widget-tweaks==1.5.0
filelock==3.18.0
fsspec==2025.3.2
git-filter-repo==2.47.0
google-api-core==2.24.1
google-api-python-client==1.7.11
google-auth==2.38.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==1.2.1
google-cloud-secret-manager==2.7.2
googleapis-common-protos==1.67.0rc1
googleauthentication==0.0.18
grpc-google-iam-v1==0.12.7
grpcio==1.70.0
grpcio-status==1.63.0rc1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.30.1
idna==3.10
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
libcst==1.6.0
numpy==2.2.4
oauthlib==3.2.2
openai==1.70.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
proto-plus==1.26.0
protobuf==4.25.6
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
PyJWT==2.10.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
semantic-version==2.10.0
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
termcolor==2.5.0
threadpoolctl==3.6.0
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.50.3
typing-inspection==0.4.0
typing_extensions==4.13.0
uritemplate==3.0.1
urllib3==1.26.20
wcwidth==0.2.13
